@charset "UTF-8";

html {
	font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
}

/* Helper class that centers a box */
.container {
  margin: 0 auto;
  width: 720px;
}

/* Top part of the site that stays the same across views */
.topbar {
  border-bottom: 1px solid;
}

/* Add some white space to the page */
.topbar > .container {
  padding: .5em 0;
}

/* The app's title */
.topbar-title {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

/* Links in the topbar (not necessarily <a> elements) */
.topbar-links {
  margin-top: 1em;
  text-align: center;
}

.topbar-link,
.topbar-link:active,
.topbar-link:visited {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

/* "before every topbar-link *immediately* after a topbar-link" */
.topbar-link + .topbar-link:before {
  content: ' · ';
}

/* Add some white space to the page */
.main > .container {
  padding: .5em 0;
}

/* .main element on the clicker page */
.clicker {
}

/* The area where the player is supposed to click all the time */
.clicker-clickarea {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 2px solid;
  /* Make a circle */
  border-radius: 50%;
  /* Images must be 300x300 */
  background-image: url('./resources/tichy_swt.png');
  background-size: 100% 100%;
}

/* The main score counter */
.clicker-counter {
  margin-top: .5em;
  font-size: 1.5em;
  text-align: center;
}

/* The main income counters */
.clicker-incomes {
  margin-top: .5em;
  text-align: center;
}

.clicker-income + .clicker-income:before {
  content: ' · ';
}

/* Area where the shop buttons etc are */
.clicker-controls {
  margin-top: .5em;
  text-align: center;
}

/* A button that leads to a shop */
.clicker-controls-shopbutton {
  padding: .5em .2em;
}

.clicker-controls-shopbutton + .clicker-controls-shopbutton {
  margin-left: 1em;
}
