@charset "UTF-8";

html {
	font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
}

button {
  position: relative;
  padding: .2em .5em;
  border: 2px solid;
  border-radius: .2em;
  background-color: white;
  color: hsl(210, 80%, 40%);
  transition: .2s;
}

button:not(:disabled):hover {
  border-color: hsl(210, 80%, 40%);
  background-color: hsl(210, 80%, 40%);
  color: white;
}

button:disabled {
  color: hsl(210, 40%, 80%);
}

/* A little circle in the upper corner of a button */
.button-notification {
  animation: plop .2s;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1em;
  margin-right: -1em;
  padding: .5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: hsl(210, 80%, 40%);
  color: white;
  font-size: .75em;
  line-height: 1em;
}

@keyframes plop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Helper class that centers a box */
.container {
  margin: 0 auto;
  width: 720px;
}

/* Top part of the site that stays the same across views */
.topbar {
  border-bottom: 1px solid;
}

/* Add some white space to the page */
.topbar > .container {
  padding: .5em 0;
}

/* The app's title */
.topbar-title {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

/* Links in the topbar (not necessarily <a> elements) */
.topbar-links {
  margin-top: 1em;
  text-align: center;
}

.topbar-link,
.topbar-link:active,
.topbar-link:visited {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

/* "before every topbar-link *immediately* after a topbar-link" */
.topbar-link + .topbar-link:before {
  content: ' · ';
}

/* Add some white space to the page */
.main > .container {
  padding: .5em 0;
}

/* .main element on the clicker page */
.clicker {
}

/* The area where the player is supposed to click all the time */
.clicker-clickarea {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: .5em solid white;
  /* Make a circle */
  border-radius: 50%;
  /* Images must be 300x300 */
  background-image: url('./resources/tichy_swt.jpg');
  background-size: 100% 100%;
}

.clicker-clickarea:active {
  border-color: hsl(210, 80%, 40%);
}

.clicker-clickarea > canvas {
  width: 100%;
  height: 100%;
}

/* The main score counter */
.clicker-counter {
  margin-top: .5em;
  font-size: 1.5em;
  text-align: center;
}

/* The main income counters */
.clicker-incomes {
  margin-top: .5em;
  text-align: center;
}

.clicker-income + .clicker-income:before {
  content: ' · ';
}

/* Area where the shop buttons etc are */
.clicker-controls {
  margin-top: .5em;
  text-align: center;
}

/* A button that leads to a shop */
.clicker-controls-shopbutton {
  padding: .5em;
}

.clicker-controls-shopbutton + .clicker-controls-shopbutton {
  margin-left: 1em;
}

/* main element on the shop pages */
.shop {
}

/* shop menu that can have some buttons and some info */
.shop-menu {
  display: flex;
}

/* a button in the shop menu */
.shop-menu-buttom {
}

/* a text field in the shop menu. these should fill most of the space */
.shop-menu-info {
  flex: 1;
  text-align: right;
}

/* The shop's title */
.shop-title {
  text-align: center;
}

/* A short (one line) description of the shop's items */
.shop-description {
  text-align: center;
}

/* The items one can buy in this shop */
.shop-items {
  padding: 0;
}

/* Items of the shop. On bigger screens, 2 should be on each "line" */
.shop-item {
  display: block;
  box-sizing: border-box;
  padding: .25em;
  float: left;
  width: 50%;
  list-style: none;
}

.shop-item:nth-child(2n+3) {
  clear: left;
}

/* The name of the item */
.shop-item-name {
}

/* A short (one line) description of an item */
.shop-item-description {
  font-size: .75em;
}

/* The button to buy the item */
.shop-item-buy {
  box-sizing: border-box;
  margin-top: .5em;
  width: 100%;
}

/* The main element on text pages */
.text {
}

/* The title element */
.text-title {
  text-align: center;
}

/* The text content */
.text-content {
  line-height: 1.5em;
}

/* Responsive version for screens narrower than 720 pixels */
@media (max-width: 720px) {
  .container {
    margin: auto;
    padding: .25em;
    width: auto;
  }

  .main > .container {
    padding: .5em .25em;
  }

  .shop-item {
    float: none;
    clear: none;
    width: auto;
  }
}
